{% extends 'dash/base.html' %}
{% load static %}

{% block title %}
  Invoices for Batch {{ batch.pk }}, {{ batch.batch_date|date:'d/m/Y'}}
{% endblock title %}

{% block sub_heading %}
  Invoices for Batch {{ batch.pk }}, {{ batch.batch_date|date:'d/m/Y'}}
{% endblock sub_heading %}

{% block content %}
<div class="pure-g">
  <div class="pure-u-1">
    <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        <li class="pure-menu-item">
          <a href="{% url 'invoice.batch.list' %}" class="pure-menu-link">
            <i class="fa fa-reply"></i>
          </a>
        </li>
        {% include 'base/_paginate.html' %}
      </ul>
    </div>
  </div>
</div>
<div class="pure-g">
  <div class="pure-u-1">
    <table class="pure-table pure-table-bordered" width="100%">
      <tbody>
        {% include 'invoice/_batch_header.html' %}
        {% include 'xero_app/_batch_detail.html' %}
      </tbody>
    </table>
  </div>
</div>
<div class="pure-g">
  <div class="pure-u-1">
    {% include 'invoice/_batch_invoice_list.html' %}
  </div>
</div>
<div class="pure-g">
  <div class="pure-u-1">
    <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        {% include 'base/_paginate.html' %}
      </ul>
    </div>
  </div>
</div>
{% endblock content %}
