{% extends 'dash/base.html' %}
{% load static %}

{% block sub_title %}
  Example Dashboard
{% endblock sub_title %}

{% block sub_heading %}
  Example Dashboard
{% endblock sub_heading %}

{% block content %}
  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      <li class="pure-menu-item">
        <a href="{% url 'invoice.list' %}" class="pure-menu-link">
          <i class="fa fa-gbp"></i>
          Invoices
        </a>
      </li>
    </ul>
  </div>
{% endblock content %}

