<tr valign="top">
  <td>
    {% if user.is_superuser %}
      <a href="{% url 'xero.batch.detail' batch.pk %}">
        <i class="fa fa-link"></i>
        Xero
      </a>
    {% else %}
      Xero
    {% endif %}
  </td>
  <td>
    {% if xero_batch_uuid %}
      {% if xero_batch_url %}
        <a href="{{ xero_batch_url }}">
          <i class="fa fa-fw fa-check"></i>
          Posted
          <small>
            ({{ xero_batch_uuid }})
          </small>
        </a>
      {% else %}
        <i class="fa fa-fw fa-check"></i>
        Posted
        <small>
          ({{ xero_batch_uuid }})
        </small>
      {% endif %}
    {% else %}
      Pending
    {% endif %}
  </td>
<tr valign="top">
  <td>
    Xero Payment
  </td>
  <td>
    {% if xero_payment_uuid %}
      <i class="fa fa-fw fa-check"></i>
    {% endif %}
    {% if xero_payment_uuid %}
      Posted
      <small>
        ({{ xero_payment_uuid }})
      </small>
    {% else %}
      Pending
    {% endif %}
  </td>
</tr>
