<tr valign="top">
  <td>
    {% if user.is_superuser %}
      <a href="{% url 'xero.invoice.detail' invoice.pk %}">
        <i class="fa fa-link"></i>
        Xero
      </a>
    {% else %}
      Xero
    {% endif %}
  </td>
  <td>
    {% if xero_invoice_uuid %}
      {% if xero_invoice_url %}
        <a href="{{ xero_invoice_url }}">
          <i class="fa fa-fw fa-check"></i>
          Posted...
        </a>
      {% else %}
        <i class="fa fa-fw fa-check"></i>
        Posted
      {% endif %}
    {% else %}
      Pending
    {% endif %}
  </td>
<tr valign="top">
  <td>
  </td>
  <td>
    {% if xero_payment_uuid %}
      <i class="fa fa-fw fa-check"></i>
    {% endif %}
    {% if invoice.is_credit %}Refund{% else %}Payment{% endif %}
    {% if xero_payment_uuid %}
      Posted
    {% else %}
      Pending
    {% endif %}
  </td>
</tr>
