<div class="pure-u-1 pure-u-md-1-4">
  <div class="pure-g">
    <div class="pure-u-1">
      <h4>Xero</h4>
    </div>
  </div>
  <div class="r-box">
    <a href="{% url 'xero.account.list' %}" class="pure-menu-link">
      <i class="fa fa-gbp"></i>
      Accounts
    </a>
  </div>
  <div class="r-box">
    <a href="{% url 'xero.currency.list' %}" class="pure-menu-link">
      <i class="fa fa-gbp"></i>
      Currency
    </a>
  </div>
  <div class="r-box">
    <a href="{% url 'xero.settings.update' %}" class="pure-menu-link">
      <i class="fa fa-gbp"></i>
      Settings
    </a>
  </div>
  <div class="r-box">
    <a href="{% url 'xero.vat.code.list' %}" class="pure-menu-link">
      <i class="fa fa-gbp"></i>
      Vat Codes
    </a>
  </div>
</div>
