{% extends 'dash/base.html' %}

{% block sub_title %}
  Xero Batch {{ batch.pk }}
{% endblock sub_title %}

{% block sub_heading %}
  Xero Batch {{ batch.pk }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      <li class="pure-menu-item">
        <a href="{% url 'invoice.batch.invoice.list' batch.pk %}" class="pure-menu-link">
          <i class="fa fa-reply"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <tbody>
          {% include 'invoice/_batch_header.html' %}
        </tbody>
      </table>
      <table width="100%" class="pure-table pure-table-bordered small-margin-top">
        <tbody>
          {% if batch_invoice %}
            <tr valign="top">
              <td>
                Xero
              </td>
              <td>
                <a href="{% url 'xero.batch.detail' batch_invoice.batch.pk %}">
                  Click here to check batch sync...
                </a>
              </td>
            </tr>
          {% else %}
            <tr valign="top">
              <td>
                Batch UUID
              </td>
              <td>
                {% if xero_batch_uuid %}
                  {{ xero_batch_uuid }}
                {% elif user.is_superuser %}
                  <small>
                    <a href="{% url 'xero.batch.sync' batch.pk %}" class="pure-button">
                      <i class="fa fa-refresh"></i>
                      Sync to Xero
                    </a>
                  </small>
                {% endif %}
              </td>
            </tr>
            <tr valign="top">
              <td>
                Payment UUID
              </td>
              <td>
                {% if xero_payment_uuid %}
                  {{ xero_payment_uuid }}
                {% elif user.is_superuser %}
                  <small>
                    <a href="{% url 'xero.batch.sync.payment' batch.pk %}" class="pure-button">
                      <i class="fa fa-refresh"></i>
                      Sync Payment to Xero
                    </a>
                  </small>
                {% endif %}
              </td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
  {% if xero_invoice_data %}
    <div class="pure-g">
      <div class="pure-u-1">
        <div class="small-margin-top">
          Xero Data:
          <textarea id="id_code">
            {{ xero_invoice_data }}
          </textarea>
        </div>
      </div>
    </div>
  {% endif %}
  {% if xero_payment_data %}
    <div class="pure-g">
      <div class="pure-u-1">
        <div class="small-margin-top">
          Xero
          {% if invoice.is_credit %}Refund{% else %}Payment{% endif %}
          Data:
          <textarea id="id_code">
            {{ xero_payment_data }}
          </textarea>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block script_extra %}
  {{ block.super }}
  {% include 'base/_codemirror.html' %}
{% endblock script_extra %}
