{% extends 'dash/base.html' %}
{% load static %}

{% block title %}
  Xero Accounts for Posting Invoices
{% endblock title %}

{% block sub_heading %}
  Xero Accounts for Posting Invoices
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.settings' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr valign="top">
            <th>Currency / Payment</th>
            <th>Invoice Account</th>
            <th>Payment Account</th>
          </tr>
        </thead>
        <tbody>
          {% for o in object_list %}
            <tr valign="top">
              <td>
                <a href="{% url 'xero.account.update' o.pk %}">
                  <i class="fa fa-edit"></i>
                  {{ o.currency.slug }}
                  <br>
                  {{ o.payment_processor.description }}
                </a>
              </td>
              <td>
                {% if o.invoice_account %}
                  {{ o.invoice_account.name }},
                  {{ o.invoice_account.code }}
                  ({{ o.invoice_account.account_class|lower|capfirst }})
                  <small>
                    ({{ o.invoice_account.field_name }})
                  </small>
                  {% if o.invoice_account.description %}
                    <br>
                    <small>
                      {{ o.invoice_account.description }}
                    <small>
                  {% endif %}
                {% endif %}
              </td>
              <td>
                {% if o.payment_account %}
                  {{ o.payment_account.name }},
                  {{ o.payment_account.code }}
                  ({{ o.payment_account.account_class|lower|capfirst }})
                  <small>
                    ({{ o.payment_account.field_name }})
                  </small>
                  {% if o.payment_account.description %}
                    <br>
                    <small>
                      {{ o.payment_account.description }}
                    <small>
                  {% endif %}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
