{% extends 'dash/base.html' %}

{% block sub_title %}
  Sync batch {{ batch.batch_number }} to Xero
{% endblock sub_title %}

{% block sub_heading %}
  Sync batch {{ batch.batch_number }} to Xero
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'xero.batch.detail' batch.pk %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      Sync batch
      <strong>
        {{ batch.batch_number }}
      </strong>
      to Xero?
      {% include '_form.html' with submit="Sync to Xero" %}
      <i class="fa fa-info-circle"></i>
      The batch will sync to Xero in the background...
    </div>
  </div>
{% endblock %}
