{% extends 'dash/base.html' %}

{% block sub_title %}
  Xero
  {% if object.is_credit %}
    Credit Note
  {% else %}
    Invoice
  {% endif %}
{% endblock sub_title %}

{% block sub_heading %}
  Xero
  {% if object.is_credit %}
    Credit Note
  {% else %}
    Invoice
  {% endif %}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      <li class="pure-menu-item">
        <a href="{% url 'invoice.detail' invoice.pk %}" class="pure-menu-link">
          <i class="fa fa-reply"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <tbody>
          {% include "invoice/_invoice_detail_header.html" %}
        </tbody>
      </table>
      <table width="100%" class="pure-table pure-table-bordered small-margin-top">
        <tbody>
          {% include "invoice/_invoice_detail.html" %}
          {% if invoice.upfront_payment %}
            <tr valign="top">
              <td>
                Xero
              </td>
              <td>
                {% if batch_invoice %}
                  <a href="{% url 'xero.batch.detail' batch_invoice.batch.pk %}">
                    Click here to check batch sync...
                  </a>
                {% else %}
                  Batch for {{ invoice.invoice_date|date:'d/m/Y' }}
                  has not been created.
                {% endif %}
              </td>
            </tr>
          {% else %}
            <tr valign="top">
              <td>
                {% if object.is_credit %}
                  Credit Note
                {% else %}
                  Invoice
                {% endif %}
                UUID
              </td>
              <td>
                {% if xero_invoice_uuid %}
                  {{ xero_invoice_uuid }}
                {% elif user.is_superuser %}
                  <small>
                    <a href="{% url 'xero.invoice.sync' invoice.pk %}" class="pure-button">
                      <i class="fa fa-refresh"></i>
                      Sync to Xero
                    </a>
                  </small>
                {% endif %}
              </td>
            </tr>
            <tr valign="top">
              <td>
                {% if invoice.is_credit %}Refund{% else %}Payment{% endif %} UUID
              </td>
              <td>
                {% if xero_payment_uuid %}
                  {{ xero_payment_uuid }}
                {% elif user.is_superuser %}
                  <small>
                    <a href="{% url 'xero.invoice.sync.payment' invoice.pk %}" class="pure-button">
                      <i class="fa fa-refresh"></i>
                      Sync {% if invoice.is_credit %}Refund{% else %}Payment{% endif %} to Xero
                    </a>
                  </small>
                {% endif %}
              </td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
  {% if xero_invoice_data %}
    <div class="pure-g">
      <div class="pure-u-1">
        <div class="small-margin-top">
          Xero Data:
          <textarea id="id_code">
            {{ xero_invoice_data }}
          </textarea>
        </div>
      </div>
    </div>
  {% endif %}
  {% if xero_payment_data %}
    <div class="pure-g">
      <div class="pure-u-1">
        <div class="small-margin-top">
          Xero
          {% if invoice.is_credit %}Refund{% else %}Payment{% endif %}
          Data:
          <textarea id="id_code_2">
            {{ xero_payment_data }}
          </textarea>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block script_extra %}
  {{ block.super }}
  {% include 'base/_codemirror.html' %}
  <script type="text/javascript">
    var textArea = document.getElementById("id_code_2");
    codeEditor(textArea);
  </script>
{% endblock script_extra %}
