{% extends 'dash/base.html' %}
{% load static %}

{% block title %}
  Xero VAT Codes
{% endblock title %}

{% block sub_heading %}
  Xero VAT Codes
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.settings' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr valign="top">
            <th colspan="2">Xero VAT Code</th>
            <th>Vat Code</th>
          </tr>
        </thead>
        <tbody>
          {% for x in object_list %}
            <tr valign="top">
              <td>
                <a href="{% url 'xero.vat.code.update' x.pk %}">
                  <i class="fa fa-edit"></i>
                  {{ x.code }}
                </a>
              </td>
              <td>
                {{ x.name }}
              </td>
              <td>
                {% if x.vat_code %}
                  {{ x.vat_code.slug }}
                  {% if x.vat_code.description %}
                    <small>
                      <br>
                      {{ x.vat_code.description }}
                    </small>
                  {% endif %}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
