{% extends 'dash/base.html' %}

{% block sub_title %}
  Update Currency
{% endblock sub_title %}

{% block sub_heading %}
  Update Currency
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'xero.currency.list' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      Select the currency for the Xero
      '<strong>{{ object.code }}</strong>'
      currency
      (<strong>{{ object.description }}</strong>)
      {% include '_form.html' %}
    </div>
  </div>
{% endblock %}

{% block script_extra %}
  {{ block.super }}
  {% include 'base/_chosen.html' %}
{% endblock script_extra %}
